/* BytesCrafter */
.flex_row {
    margin-bottom: 20px;
}
label {
    font-size: 14px;
}
.help {
    background: lightyellow;
    font-size: 10px;
    width: max-content;
    color: red;
}
.req {
    border: 1px solid red;
}
